@import url('https://fonts.googleapis.com/css?family=Mandali');

body {
  background-image: url("background-image.png");
  background-size: cover;
  background-position: center;

  color: lightgrey;
  font-family: "Mandali";
  text-align: center;
  margin-top: 10%;
}

h1 {
  font-size: 64px;
}

input {
  width: 70%;
  padding: 20px;

  font-size: 20px;
  border-radius: 4px;
}

@media only screen and (max-device-width: 480px) {

  input {
    width: 95%;
    font-size: 32px;
  }

}