<head>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
  <div id="myParkingApp">
    <input placeholder="Enter a postcode"
           v-model="postcode"
           v-on:keyup.enter="searchPostcode">
    {{ postcode }}<br>
    {{ postcodeX }}<br>
    {{ postcodeY }}<br>

    <div v-for="carpark in carparks">
      {{ carpark }}<br>
    </div>
  </div>
</body>

<script src="carpark-helpers.js"></script>
<script src="03-carpark-logic.js"></script>