<body>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <div id="app">
    <input v-model="postcodeInput" @keyup.enter="searchPostcode"><br>

    <h3 v-if="carparks.length > 0">Carparks:</h3>
    <div v-for="carpark in carparks">
      Distance: {{ Math.ceil(carpark.distance) }}m<br>
      Address: {{ carpark.address }} <br>
      Total Lots: {{ carpark.total_lots || "N/A" }} <br>
      Lots Available: {{ carpark.lots_available || "N/A" }} <br>
      <br>
    </div>
  </div>
</body>

<script>
var app = new Vue({
  el: '#app',
  data: {
    carparks: [],
    postcodeInput: ""
  },
  methods: {
    searchPostcode: function() {
      axios.get('https://developers.onemap.sg/commonapi/search', {
        params: {
          searchVal: this.postcodeInput,
          returnGeom: "Y",
          getAddrDetails: "N"
        }
      }).then(response => {
        var unwrappedResults = response.data.results[0]
        x = parseFloat(unwrappedResults.X)
        y = parseFloat(unwrappedResults.Y)
        this.updateCarparkList(x, y)
      })

      this.postcodeInput = ""
    },

    updateCarparkList: function(x, y) {
      axios.get("https://data.gov.sg/api/action/datastore_search?resource_id=139a3035-e624-4f56-b63f-89ae28d4ae4c", {}).then(response => {
        var carparks = response.data.result.records
        var carparks_with_distances = []

        for (var carpark of carparks) {
          distance = distanceFromXY(carpark, x, y)
          carpark.distance = distance
          carparks_with_distances.push(carpark)
        }

        carparks_sorted_by_distance = sortCarparksByDistance(carparks_with_distances)
        nearest_carparks = carparks_sorted_by_distance.slice(0, 10)
        this.getLotInfo(nearest_carparks)
      })
    },

    getLotInfo: function(carparks) {
      axios.get("https://api.data.gov.sg/v1/transport/carpark-availability", {
        headers: {
          "api-key": "BJbL0ikKbXEkALqZ0taZ0Nsu5AUjp4hd"
        }
      }).then(response => {
        var carpark_availability = response.data.items[0].carpark_data

        // Match carpark_number in carpark_availability with car_park_no in carparks
        this.carparks = combineCarparkData(carpark_availability, carparks)
      })
    }
  }
})

// Helper functions
function distanceFromXY(carpark, x, y) {
  x2 = Math.pow((parseFloat(carpark.x_coord) - x), 2)
  y2 = Math.pow((parseFloat(carpark.y_coord) - y), 2)
  return Math.sqrt(x2 + y2)
}

function sortCarparksByDistance(carparks) {
  // https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/sort
  // See the compareNumbers function
  function compare_carparks_by_distance(carpark1, carpark2) {
    return carpark1.distance - carpark2.distance
  }

  carparks.sort(compare_carparks_by_distance)
  return carparks
}

function combineCarparkData(carpark_availability, carparks) {
  for (var carpark of carpark_availability) {
    var carpark_number = carpark.carpark_number
    var matched_carpark = findMatchingCarpark(carpark_number, carparks)
    if (matched_carpark !== null) {
      matched_carpark.total_lots = carpark.carpark_info[0].total_lots
      matched_carpark.lots_available = carpark.carpark_info[0].lots_available
    }
  }
  return carparks
}

function findMatchingCarpark(carpark_number, carparks) {
  var matched_carpark = null
  for (var carpark of carparks) {
    if (carpark.car_park_no === carpark_number) {
      matched_carpark = carpark
      break
    }
  }
  return matched_carpark
}
</script>