@import url('https://fonts.googleapis.com/css?family=Mandali');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');

body {
  font-family: "Mandali";
  text-align: center;
  background-image: url("background-image.png");
  background-repeat: no-repeat;
  color: #F2F2F2;
}

input {
  width: 70%;
  border-radius: 4px;
  font-size: 20px;
  padding: 12px 20px;
  margin-bottom: 30px;
}

@media only screen  
  and (max-device-width: 480px) {
  body {
    background-image: unset;
    color: #000;
  }
}