@import url('https://fonts.googleapis.com/css?family=Mandali');

body {
  font-family: "Mandali";
  text-align: center;
  color: #F2F2F2;

  margin-top: 10%;
  background-image: url("background-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 64px;
}

input {
  font-size: 20px;

  width: 70%;
  padding: 12px 20px;
  margin-bottom: 30px;
  border-radius: 4px;
}

@media only screen  
  and (max-device-width: 480px) {

  input {
    font-size: 32px;
    width: 95%;
  }
}