.bg {
	background-image: url("carpark_image_alt.png");
	height:30%;
	padding-left: 0px;
	border-left: 0px;
}

input {
	width:70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
   	font-family: "PT Sans Caption";
	font-size: 12px;
	display: block;
	margin: auto;
	color: #023417;
}

h1 {
	font-family: "Mandali";
	font-size: 40px;
	color: #F2F2F2;
	margin: auto;
	padding-left: 15%;
	font-style: normal;
}

h3 {
	font-family: "PT Sans Caption";
    font-size: 20px;
    font-style: bold;
    padding-left: 3%;
}

.element {
	font-family: "Mandali";
    font-size: 12px;
    padding-left: 3%;
}
